.app {
  height: 100%;
  background-color: black;
  user-select: none;
}

.app .pages {
  padding: 8px 8px 0 8px;
  height: 100%;
  max-height: var(--pages-height);
  display: flex;
}

.app .page {
  padding-left: 8px;
}
