@font-face {
  font-family: 'Gotham';
  src: url('../assets/fonts/Gotham-Bold.otf') format('opentype') font-weight-bold,
    url('../assets/fonts/Gotham-Light.otf') format('opentype') font-weight-normal;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: 'Gotham', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell',
    'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  height: 100%;
}
