@font-face {
  font-family: 'Gotham';
  src: url('../assets/fonts/Gotham-Bold.otf') format('opentype') font-weight-bold,
    url('../assets/fonts/Gotham-Light.otf') format('opentype') font-weight-normal;
}

:root {
  --footer-height: 90px;
  --pages-height: calc(100% - var(--footer-height) - 17px);
}

html,
body {
  height: 100%;
}

html {
  overflow: hidden;
  min-width: 850px;
}

body {
  margin: 0;
  overflow: auto;
  font-family: 'Gotham', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell',
    'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  height: 100%;
}
