.sidebar {
  display: flex;
  flex-direction: column;
  background-color: black;
  height: 100%;
  max-width: 330px;
}

.logo {
  height: 40px;
  min-height: 40px;
  width: 131px;
  margin: 24px 24px 0;
  color: white;
}

.section {
  padding: 12px 24px;
  background-color: #121212;
  border-radius: 8px;
  margin-bottom: 8px;
}

.option {
  display: flex;
  align-items: center;
  height: 40px;
}

.section .option+.option {
  margin-top: 8px;
}

.option .icon,
.library .header .icon {
  fill: #b3b3b3;
  transition: fill .2s linear;
}

.option:hover {
  cursor: pointer;
}

.option:hover p {
  color: white;
  cursor: pointer;
}

.option:hover .icon {
  fill: white;
}

.option p {
  margin-left: 20px;
  font-weight: 700;
  font-size: 16px;
  color: #b3b3b3;
  transition: color .2s linear;
}

.option .iconWrapper {
  height: 24px;
  width: 24px;
  border-radius: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: .7;
  transition: opacity .2s linear;
}

.option .iconWrapper.plus {
  background-color: white;
}

.option .iconWrapper.heart svg {
  fill: white;
}

.option .iconWrapper.heart {
  background: linear-gradient(135deg, #450af5, #c4efd9);
}

.option:hover .iconWrapper {
  opacity: 1;
}

.section.library {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  padding: unset;
  margin-bottom: unset;
  min-height: 70%;
}

.library .header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  margin-bottom: 8px;
  padding: 8px 16px 0 24px;
}

.library .header p {
  font-size: 15px;
}

.library .header .actions {
  display: flex;
  flex-direction: row;
  gap: 8px;
}

.library .header .actions .action,
.library .search .iconWrapper {
  padding: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.library .header .actions .action:hover,
.library .search:hover {
  cursor: pointer;
  transition: fill .2s linear;
  background-color: #ffffff1a;
  border-radius: 50%;
}

.library .header .actions .action:hover .icon,
.library .search:hover .icon {
  fill: white;
}

.library .option p {
  margin-left: 12px;
}

.library .filters,
.searchContainer {
  display: flex;
  flex-direction: row;
  gap: 8px;
  padding: 8px 0;
}

.library .filters {
  overflow: scroll;
  padding: 8px 16px;
  min-height: 32px;
}

.library .filter {
  display: flex;
  align-items: center;
  height: 32px;
  background-color: #ffffff12;
  border-radius: 32px;
}

.library .filter:hover {
  cursor: pointer;
  background-color: #ffffff1a;
}

.filter p {
  color: white;
  padding: 8px 12px;
  font-size: 14px;
  white-space: nowrap;
}

.searchContainer {
  width: unset;
  padding: 1px 24px 0 16px;
  justify-content: space-between;
  margin-bottom: 8px;
}

.search .icon,
.sort .icon {
  fill: #ffffffb3;
  height: 17px;
  width: 17px;
}

.sort,
.search {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.sort p {
  color: #ffffffb2;
  font-size: 13px;
}

.sort:hover {
  cursor: pointer;
}

.sort:hover p {
  color: white;
}

.sort:hover .icon {
  fill: white;
}

.playlists {
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  scroll-behavior: smooth;
  flex: 1 1 auto;
  padding: 0 4px 0 16px;
}

.playlists::-webkit-scrollbar {
  width: 8px;
}

.playlists:hover::-webkit-scrollbar-thumb {
  display: block;
  background: #ffffff4d;
  border-radius: 10px;
}

.playlist {
  width: 100%;
  display: flex;
  align-items: center;
  padding: 8px 0;
}

.playlist .image {
  width: 48px;
  height: 48px;
  box-shadow: 0 4px 60px #00000080;
}

.playlist .image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 4px;
}

.playlist .info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 44px;
  padding: 0 12px;
}

.playlist .info .name {
  color: white;
  font-size: 16px;
}

.playlist .info .details {
  color: #a7a7a7;
  font-size: 14px;
}

p {
  margin: 0;
}
