.container {
  width: 100%;
  position: relative;
}

.filters {
  display: flex;
  flex-direction: row;
  gap: 8px;
  overflow: scroll;
  padding: 8px 16px;
  min-height: 32px;
}

.filters::-webkit-scrollbar {
  display: none;
}

.filter {
  display: flex;
  align-items: center;
  height: 32px;
  background-color: #ffffff12;
  border-radius: 32px;
}

.filter:hover {
  cursor: pointer;
  background-color: #ffffff1a;
}

.filter p {
  color: white;
  padding: 8px 12px;
  font-size: 14px;
  white-space: nowrap;
}

.filter.selected {
  background-color: white;
  z-index: 1;
}

.filter.selected p {
  color: black;
}

.filter.secondary.selected {
  background-color: #dedede;
  padding-left: 24px;
  margin-left: -36px;
  z-index: 0;
}

.filter.secondary.selected:hover {
  transition: background-color .2s linear;
  background-color: white;
}

.filter.clear .icon {
  fill: #b3b3b3;
  padding: 8px;
}

.scroll {
  position: absolute;
  display: flex;
  justify-content: space-between;
  width: 100%;
  top: calc(50% - 16px);
  pointer-events: none;
}

.scroll .left {
  background: linear-gradient(90deg, #121212 70%, #ffffff00 100%);
}

.scroll .right {
  background: linear-gradient(-90deg, #121212 70%, #ffffff00 100%);
}

.scroll .button {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 32px;
  width: 32px;
  background-color: #242424;
  border-radius: 50%;
  margin: 0 16px;
  opacity: .7;
  pointer-events: auto;
}

.scroll .button:hover {
  cursor: pointer;
  opacity: 1;
}

.scroll .left .button {
  transform: rotate(180deg);
}

.scroll .icon {
  fill: white;
}

.scroll .hide .button {
  display: none;
}
